---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
import Navigation from "../shared/src/components/Navigation.astro";
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
  <body>
    <h1>Hello, World!</h1>
    <Navigation />
    <p>Form website 2.</p>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>